<html>
<head>
    <title>{{app.name}}</title>
    <!-- CSS-->
    <link rel="stylesheet" type="text/css" href="{{app.lib.extjs}}resources/css/ext-all.css" />

    <!-- Javascript-->
    <script type="text/javascript" src="{{app.lib.extjs}}adapter/ext/ext-base.js"></script>
    <script type="text/javascript" src="{{app.lib.extjs}}ext-all-debug.js"></script>

    <script type="text/javascript" src="{{app.url}}{{app.api.resource}}"></script>

    <!-- Instantiation of ExtDirect Api-->
    <script>
        Ext.Direct.addProvider({{app.api.variable}});
    </script>

    <script>
        Ext.onReady(function(){
           var a = new Ext.FormPanel({
               title: 'Form test',
               renderTo: Ext.getBody(),
               padding: '8 8 8 8',
               width: 250,
               frame: true,
               labelWidth: 50,
               fileUpload: true,
               api:{
                   submit: Action.User.sendForm
               },
               listeners:{
                   'actionfailed' : function(){
                       alert('error');
                   },
                   'actioncomplete' : function(){
                       alert('success');
                   }
               },
               items:[
                   {
                       name: 'name',
                       fieldLabel: 'Name',
                       xtype: 'textfield',
                       anchor: '100%',
                       allowBlank: false
                   },
                   {
                       xtype: 'textfield',
                       inputType: 'file',
                       name: 'file'
                   }
               ],
               buttons:[
                   {
                       text: 'Submit',
                       handler: function(){
                           if (a.getForm().isValid()){
                              a.getForm().submit();
                           }
                       },
                       scope: this
                   }
               ]
           });
        });
    </script>
</head>
<body>

</body>
</html>